.register-box {
  padding-top: 50px;
  width: 360px;
  margin-right: auto;
  margin-left: auto;
}

.register-logo, .register-logo {
  font-size: 2.1rem;
  font-weight: 300;
  margin-bottom: .9rem;
  text-align: center;
}
