<div class="login-box">
  <div class="login-logo">
    <fa-icon
      icon="key"
      size="2x"
    ></fa-icon>
  </div>
  <form
    #resetForm="ngForm"
    (ngSubmit)="onSubmit()"
  >
    <mat-card>
      <mat-card-content>
        <p class="login-box-msg">You forgot your password? Here you can easily retrieve a new password.</p>
        <mat-form-field
          class="full-width-field"
          appearance="standard"
        >
          <mat-label>Email</mat-label>
          <input
            matInput
            placeholder="user@example.com"
            type="email"
            name="form.email"
            autocomplete="email"
            [(ngModel)]="form.email"
            required
            pattern="[^ @]*@[^ @]*"
            #email="ngModel"
          >
          <fa-icon
            icon="envelope"
            matSuffix
          ></fa-icon>
        </mat-form-field>
        <p>
          <a
            [routerLink]="['/login']"
          >Login</a>
        </p>
        <p>
          <a
            [routerLink]="['/sign-up']"
            class="text-center"
          >Register a new membership</a>
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button
          type="submit"
          mat-raised-button
          [disabled]="!resetForm.form.valid"
        >
          Request new password
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
