<div class="login-box">
  <div class="login-logo">
    <fa-icon
      icon="user"
      size="2x"
    ></fa-icon>
  </div>
  <form
    #loginForm="ngForm"
    (ngSubmit)="onSubmit()"
  >
    <mat-card>
      <mat-card-content>
        <mat-form-field
          class="full-width-field"
          appearance="standard"
        >
          <mat-label>Email</mat-label>
          <input
            matInput
            placeholder="user@example.com"
            type="email"
            name="form.email"
            autocomplete="email"
            [(ngModel)]="form.email"
            required
            pattern="[^ @]*@[^ @]*"
          >
          <fa-icon
            icon="envelope"
            matSuffix
          ></fa-icon>
        </mat-form-field>
        <mat-form-field
          class="full-width-field"
          appearance="standard"
        >
          <mat-label>Password</mat-label>
          <input
            matInput
            placeholder="Password"
            [(ngModel)]="form.password"
            type="password"
            name="password"
            required
            autocomplete="current-password"
            minlength="8"
          >
          <fa-icon
            icon="lock"
            matSuffix
          ></fa-icon>
          <mat-hint align="end">
            {{ ConstantValidation.passwordRequirementString }}
          </mat-hint>
        </mat-form-field>
        <p>
          <a
            [routerLink]="['/forgot-password']"
          >
            I forgot my password
          </a>
        </p>
        <p>
          <a
            [routerLink]="['/sign-up']"
            class="text-center"
          >Register a new membership</a>
        </p>
        <mat-spinner [style.display]="(this.authState$ | async).loginSubmit ? 'block' : 'none'"></mat-spinner>
      </mat-card-content>
      <mat-card-actions>
        <button
          type="submit"
          mat-raised-button
          [disabled]="!loginForm.form.valid || (this.authState$ | async).loginSubmit"
        >Sign In
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
