<mat-card>
  <mat-card-content>
    <strong>
      <fa-icon
        icon="users"
      ></fa-icon>
      Roles
    </strong>

    <p class="text-muted">

      <mat-chip-list>
        <mat-chip
          *ngFor="let role of user.roles | orderBy"
        >
          {{role}}
        </mat-chip>&nbsp;
      </mat-chip-list>
    </p>
    <hr>

    <strong>
      <fa-icon
        icon="user-tag"
      ></fa-icon>
      Permissions
    </strong>

    <p class="text-muted">
      <mat-chip-list>
        <mat-chip
          *ngFor="let permission of user.permissions | orderBy"
        >
          {{permission}}
        </mat-chip>&nbsp;
      </mat-chip-list>
    </p>
    <hr>
  </mat-card-content>
</mat-card>
