.draggable-list {
  border: solid 1px #ccc;
  background-color: #0000000f;
  border-radius: 4px;
  overflow: hidden;
  display: block;
  &.cdk-drop-list-dragging .draggable-item:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
}

.draggable-item {
  margin: 5px;
  cursor: move;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.draggable-item.cdk-drag-disabled {
  background: #ccc;
  cursor: default;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.draggable-icon {
  fa-icon {
    color: #0000007a;
    &:hover {
      color: #000000;
    }
  }


}

.draggable-text {
  width: 100%;
  margin-left: 6px;
}
