<div
  *ngIf="user"
  class="change-password-wrapper"
>
  <button
    *ngIf="!canEdit"
    type="button"
    mat-raised-button
    color="warn"
    (click)="edit()"
  >
    Change Password
    <fa-icon
      icon="key"
    ></fa-icon>
  </button>
  <form
    *ngIf="canEdit"
    #changeUserPasswordForm="ngForm"
    (ngSubmit)="onSubmit()"
  >
    <mat-form-field
      class="full-width-field"
      appearance="standard"
    >
      <mat-label>Current Password</mat-label>
      <input
        matInput
        placeholder="Password"
        [(ngModel)]="oldPassword"
        type="password"
        name="password"
        required
        autocomplete="current-password"
        minlength="8"
      >
      <fa-icon
        icon="lock"
        matSuffix
      ></fa-icon>
    </mat-form-field>
    <mat-form-field
      class="full-width-field"
      appearance="standard"
    >
      <mat-label>New Password</mat-label>
      <input
        matInput
        placeholder="Password"
        [(ngModel)]="newPassword"
        type="password"
        name="form.password"
        required
        autocomplete="new-password"
        minlength="8"
      >
      <fa-icon
        icon="lock"
        matSuffix
      ></fa-icon>
      <mat-hint align="end">
        {{ ConstantValidation.passwordRequirementString }}
      </mat-hint>
    </mat-form-field>
    <button
      *ngIf="canEdit"
      type="button"
      mat-raised-button
      color="warn"
      (click)="editCancel()"
    >
      <fa-icon
        icon="times-circle"
      ></fa-icon>
    </button>
    &nbsp;
    <button
      *ngIf="canEdit"
      type="submit"
      mat-raised-button
      color="primary"
    >
      Update
      <fa-icon
        icon="save"
      ></fa-icon>
    </button>
  </form>
</div>
